---
# Combine configuration partials for given parameter keys
#
# List of source files and/or directories are defined by
# config_basedir and config_content; optional extra
# parameters for include_vars may also be used.
#
# Example valid configuration partial names defined in files:
#
#   - service_http_base
#   - service_http_security
#   - service_http_site_x
#
# The final service_http will combine all their content.
#
# Only lists and dicts will be combined; other data types should
# be set directly in the configuration. For non-list/dict values,
# the last definition wins, so file naming can be used to
# prioritize settings.
#
- name: Generic configuration reader
  hosts: localhost
  connection: local
  become: false
  gather_facts: false
  vars:
    # Top level config dir
    config_basedir: config.git
    # Config files or directories to read
    #config_content: prod
    config_content: test
    #config_content:
    #  - test/packages.yml
    #  - test/policies.yml
    #  - test/services.yml

    # List of known parameters
    config_reader_parameters:
      # Lists
      - packages_install
      - packages_remove
      # Dicts
      - services_httpd
      - services_crond

  tasks:
    - name: Read configuration
      no_log: "{{ config_reader_secure_logging | default(false) }}"
      vars:
        list_input: "{{ false if config_content is string else true }}"
        content_list: "{{ config_content if list_input else [config_content] }}"
        dir_input: "{{ false if item.endswith('yml') else true }}"
      ansible.builtin.include_vars:
        dir: "{{ (config_basedir + '/' + item) if dir_input else omit }}"
        depth: "{{ congig_depth if config_depth is defined and dir_input else omit }}"
        files_matching: "{{ config_matching if config_matching is defined and dir_input else omit }}"
        ignore_files: "{{ config_ignore if config_ignore is defined and dir_input else omit }}"
        ignore_unknown_extensions: "{{ true if dir_input else omit }}"
        file: "{{ (config_basedir + '/' + item) if not dir_input else omit }}"
      loop: "{{ content_list }}"

    - name: Combine configuration
      vars:
        var_name: "{{ item | regex_replace('^(' + config_reader_parameters | join('|') + ')_.*', '\\1') }}"
        curr_val: "{{ lookup('ansible.builtin.vars', item) }}"
        is_dict: "{{ true if curr_val is mapping else false }}"
        prev_val: "{{ lookup('ansible.builtin.vars', var_name, default={} if is_dict else []) }}"
      ansible.builtin.set_fact:
        "{{ var_name }}": "{{ prev_val | combine(curr_val, list_merge='append_rp', recursive=true)
                              if is_dict else
                              prev_val + curr_val }}"
      loop: "{{ query('ansible.builtin.varnames', '^(' + config_reader_parameters | join('|') + ')_.*') }}"

    - name: Display configuration
      vars:
        var_values: |
          {% for key in config_reader_parameters %}
          {% set val = lookup('ansible.builtin.vars', key, default='__unset__') %}
          {% if val != '__unset__' %}
          {{ key }}: {{ lookup('ansible.builtin.vars', key) }}
          {% endif %}
          {% endfor %}
      ansible.builtin.debug:
        msg: "{{ var_values | from_yaml | to_nice_yaml(indent=2) }}"
